@font-face {
    font-family: NanumGothic-Regular;
    src: url('Assets/fonts/NanumGothic-Regular.ttf');
}

body {
    margin: 0;
    font-family: NanumGothic-Regular, -apple-system, BlinkMacSystemFont,
        'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: #2a23531a;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a3a5bd;
}

::-webkit-scrollbar-track-piece {
    background: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html {
    height: 100%;
}

.root {
    height: 100%;
}
